@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.left-hand{
  border: black, solid, 2px;
  min-width: 40vh;
  height: 45vh;
  overflow-y: scroll;
}
.left-hand::-webkit-scrollbar{
  color: #dc3b3b;
  border-radius: 50%;
}
.left-hand::-webkit-scrollbar-track{
  border-radius: 10px;
}


.right-hand{
  min-width: 60vh;
  min-height: 75vh;
}


